NET "clk1" LOC = AC18 | IOSTANDARD = LVCMOS18;

NET "SW" LOC = AF10 | IOSTANDARD = LVCMOS15;



NET "SEG_CLK"		LOC = M24   | IOSTANDARD = LVCMOS33 ;
NET "SEG_CLR"		LOC = M20   | IOSTANDARD = LVCMOS33 ;
NET "SEG_DT"		LOC = L24    | IOSTANDARD = LVCMOS33 ;
NET "SEG_EN"		LOC = R18    | IOSTANDARD = LVCMOS33 ; 