NET "clk" LOC = AC18 | IOSTANDARD = LVCMOS18;

NET "SW[0]" LOC = AA10 | IOSTANDARD = LVCMOS15;
NET "SW[1]" LOC = AB10 | IOSTANDARD = LVCMOS15;
NET "SW[2]" LOC = AA13 | IOSTANDARD = LVCMOS15;
NET "SW[3]" LOC = AA12 | IOSTANDARD = LVCMOS15;
NET "SW[4]" LOC = Y13 | IOSTANDARD = LVCMOS15;
NET "SW[5]" LOC = Y12 | IOSTANDARD = LVCMOS15;NET "SW[6]" LOC = AD11 | IOSTANDARD = LVCMOS15;
NET "SW[7]" LOC = AD10 | IOSTANDARD = LVCMOS15;

NET "SW[14]" LOC = AF13 | IOSTANDARD = LVCMOS15;
NET "SW[15]" LOC = AF10 | IOSTANDARD = LVCMOS15;

NET "SEG_CLK"		LOC = M24   | IOSTANDARD = LVCMOS33 ;
NET "SEG_CLR"		LOC = M20   | IOSTANDARD = LVCMOS33 ;
NET "SEG_DT"		LOC = L24    | IOSTANDARD = LVCMOS33 ;
NET "SEG_EN"		LOC = R18    | IOSTANDARD = LVCMOS33 ; 